<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h2>@*Details.cshtml from Views/Home folder*@</h2>
    <h3>@*@ViewData["PageDetails"]*@</h3>
    <h3>@ViewBag.PageTitle</h3>

    @{
        //var employee = ViewData["Employee"] as EmployeeManagement.Models.Employee;
    }
    <div>
        @*Name: @employee.Name*@
        Name: @ViewBag.Employee.Name
    </div>
    <div>
        @*Email: @employee.Email*@
        Email: @ViewBag.Employee.Email
    </div>
    <div>
        @*Department: @employee.Department*@
        Department: @ViewBag.Employee.Department
    </div>
</body>
</html>